
.header{
    display: flex;
    justify-content: center;
    align-items: center;}

.input{
    height: 20px;
    border-style: none none solid none;
    border-width: 0 0 2px 0;
    border-color: #ccc; "
}
#recipe-results {
    /*flex-wrap: wrap;*/
    display: flex;
    /*width: 100%;*/
    flex-wrap: wrap;
}

.recipe{
    justify-content: space-between;
    width: 30%;
    text-align: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background: #F0EAD6;
}
.recipe:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.recipe:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.img-wrap {
    width: 200px;
    height: 150px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
}
div > img {

    width: auto;
    height: 100%;
}